<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <script defer src="/static/js/login.js"></script>
	<title>admin login</title>
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div class="container login__container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/static/img/olive_logo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container mt-5">
					<form id="login-form">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text text-center" style="width: 45px">id</span>
							</div>
							<input type="text" name="id" class="form-control input_user" value="" placeholder="email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text text-center" style="width: 45px">pw</span>
							</div>
							<input type="password" name="pw" class="form-control input_pass" value="" placeholder="password">
						</div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button type="submit" name="button" class="btn login_btn">Login</button>
            </div>
					</form>
				</div>
		
				<footer class="login__footer">
					<div class="d-flex justify-content-center links">
					  오류 발생시 담당자에게 문의 부탁드립니다
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
